@{
    Layout = "/views/Shared/_Layout.cshtml";
}
<h2>График функции</h2>
<script src="@Url.Content("~/Scripts/Moment.js")"></script>
<script src="@Url.Content("~/Scripts/Chart.js")"></script>﻿
@using (Ajax.BeginForm("getDataJson", new AjaxOptions
{
    OnSuccess = "OnSuccess",
    OnComplete = "OnComplete"
}))
{
    <input type="submit" value="Отобразить" />
    <div id="result">

    </div>
}
<div style="width: 50%;">
    <canvas id="myChart" width="200" height="200"></canvas>
</div>
<span id="free-places"></span>

@section scripts{
        <script src="@Url.Content("~/Scripts/GraphShow.js")"></script>﻿
}
