@{
    Layout = "/views/Shared/_Layout.cshtml";
}
<h2><font face="Times New Roman, Times, serif">Меню</font></h2>
<p>
    @{ /*
        @using (Html.BeginForm("generateRecordsAsync", "Home", FormMethod.Post))
        {
            <input type="submit" value="Генерация записей в бд" />
        }
        */
    }
</p>
<p>
    @Html.ActionLink("Перейти к графику", "getData", "Home")
</p>
